html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonty */
body {
  font-family: "Montserrat", "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
}

/* /Fonty */
/* COLORS */
/* /COLORS */
.navigation li a {
  color: #030e3f;
  font-size: 1em;
  font-weight: bold;
}

h1 {
  margin: 0;
  display: inline-block;
  text-align: center;
  color: #040431;
  font-size: 3rem;
  line-height: 1.25em;
  font-weight: bold;
  position: relative;
  z-index: 10;
  padding: 0.8em 0.3em;
}

.main-header h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.363)), to(white));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.363), white);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.363), white);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.363), white);
  background-image: linear-gradient(rgba(255, 255, 255, 0.363), white);
  width: 100%;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1em;
  font-weight: bold;
  padding: 0.8em 0;
  text-align: center;
}

h3 {
  font-size: 1.1em;
  font-weight: bolder;
  padding: 0 0.6em 0.5em 0.6em;
  text-align: center;
}

p a {
  color: #ed1c24;
  text-decoration: none;
}

@media screen and (min-width: 460px) {
  .main-header h1 {
    font-size: 2.5em;
    line-height: 1.4em;
  }
}
@media screen and (min-width: 768px) {
  .main-header h1 {
    font-size: 2.4em;
    line-height: 1.3em;
    padding: 1em 0.3em;
  }

  nav ul li a {
    color: #194698;
    font-size: 0.8em;
    font-weight: bold;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }

  ul.menu li a:hover {
    font-size: 1.3em;
    color: #ed1c24;
  }
}
@media screen and (min-width: 991px) {
  .main-header h1 {
    font-size: 2.5em;
    line-height: 1.4em;
    padding: 1em 0.3em;
  }
}
@media screen and (min-width: 1200px) {
  .main-header h1 {
    font-size: 3em;
    line-height: 2.25em;
    padding: 1.2em 0.5em;
  }

  nav ul li a {
    font-size: 1.1em;
  }

  ul.menu li a:hover {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1380px) {
  .main-header h1 {
    padding: 2em 1em;
  }
}
::-moz-selection {
  background-color: #03033a;
  color: whitesmoke;
}
::selection {
  background-color: #03033a;
  color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #2c2929;
  font: 1.125em/1.875em "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 5em 0 0 0;
}

section.contact {
  padding-bottom: 1.25em;
}

section.map {
  margin-top: 0;
  padding: 0;
}

section p,
section ol {
  padding: 0.625em 1.25em;
}

.img-responsive {
  width: 100%;
  height: auto;
  margin-top: 1.875em;
}

section .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.mtb-small {
  margin: 1.5em 0;
}

.text-center {
  text-align: center;
}

ol.process li {
  padding: 0.625em 0 0.625em 0.313em;
}

ol.process {
  list-style-type: decimal;
  margin-left: 1.25em;
  display: inline-block;
}

address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: italic;
}

address a {
  color: #ed1c24;
}

.address p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .firm .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .container p {
    display: inline-block;
  }

  .img-responsive {
    vertical-align: middle;
  }

  .img-responsive.first {
    max-width: 40%;
    height: auto;
    margin: 1.875em 1.25em 0 0.625em;
  }

  ol.process {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .img-responsive.second {
    max-width: 80%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 1.875em 1.25em 0 1.25em;
  }
}
@media screen and (min-width: 1000px) {
  .container.address {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .address p {
    text-align: left;
  }

  section .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .img-responsive.second {
    max-width: 40%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 1.25em 0 1.25em;
  }

  ol.process {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .container.address {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1170px;
  }

  section.firm p {
    max-width: 50%;
  }

  ol.process {
    max-width: 45%;
  }
}
.header {
  background-image: url("/img/header-photo-xs.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 767px) {
  .header {
    background-image: url("/img/header-photo-md.jpg");
    background-position: top left;
  }
}
@media screen and (min-width: 1199px) {
  .header {
    background-image: url("/img/header-photo-xl.jpg");
  }
}
.main-header {
  padding: 40px 0 0 0;
  height: 400px;
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 991px) {
  .main-header {
    height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .main-header {
    height: 700px;
  }
}
@media screen and (min-width: 1380px) {
  .main-header {
    height: 900px;
  }
}
footer {
  background-color: #194698;
  color: whitesmoke;
  margin: 0;
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 1.11em 2.21em;
}

@media screen and (min-width: 991px) {
  footer {
    text-align: end;
    font-size: 0.88em;
  }
}
nav {
  position: fixed;
  width: 100%;
  line-height: 3.75em;
  z-index: 1000;
}

nav ul {
  line-height: 3.75em;
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 1.25em;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

nav.blue ul {
  background: rgba(25, 70, 152, 0.9);
}

nav.blue li a {
  color: whitesmoke;
}

nav ul li {
  display: inline-block;
  padding: 0.5em 1em;
}

nav ul li a {
  text-decoration: none;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #194698;
  text-align: right;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.9375em 1.5em;
  cursor: pointer;
  color: whitesmoke;
  display: none;
}

#menu {
  vertical-align: middle;
}

#menu {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.rotate {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.logo {
  position: fixed;
  float: left;
  z-index: 1000;
}

.logo a {
  background: url(/img/logo-1.png) top left no-repeat;
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  display: block;
  text-indent: -9999px;
  width: 6.25em;
  height: 3.125em;
  margin: 0.5625em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.logo a:hover {
  width: 6.5em;
  height: 3.37em;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
  }

  nav ul {
    max-height: 0px;
    background: rgba(25, 70, 152, 0.9);
  }

  nav ul li a {
    color: whitesmoke;
    padding: 1.25em 2.5em;
  }

  nav.blue ul {
    background: rgba(25, 70, 152, 0.9);
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  nav ul li:last-child {
    padding-bottom: 0.3125em;
  }

  nav ul li:first-child {
    padding-top: 0.3125em;
  }

  .menu-icon {
    display: block;
  }

  .menu-title {
    padding-right: 0.625em;
  }
}
@media screen and (min-width: 768px) and (max-width: 860px) {
  nav ul li {
    padding: 0.25em 0.5em;
  }
}
@media screen and (min-width: 991px) {
  .logo a {
    width: 10em;
    height: 3.75em;
  }

  .logo a:hover {
    width: 10.25em;
    height: 4em;
  }
}
nav.blue li.active a,
nav li.active a {
  color: #ed1c24;
}

section.gallery {
  padding: 0;
  margin: 2.2em auto;
}

.gallery-container {
  margin-left: auto;
  margin-right: auto;
}

.gallery-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e5e9e8), to(#ffffff));
  background-image: -webkit-linear-gradient(#e3e5e9e8, #ffffff);
  background-image: -moz-linear-gradient(#e3e5e9e8, #ffffff);
  background-image: -o-linear-gradient(#e3e5e9e8, #ffffff);
  background-image: linear-gradient(#e3e5e9e8, #ffffff);
  max-height: 15em;
  width: auto;
}

.gallery-main-header {
  padding: 2.222em 0 0 0;
  height: 11.111em;
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo img {
  min-width: 100%;
  max-width: 100%;
}

.photo {
  font-weight: bold;
}

.photo .title-copy {
  font-weight: normal;
}

.photo .all-title {
  margin-bottom: 1.111em;
}

#overlay {
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

#overlay img {
  max-width: 100%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding: 4em;
}

@media screen and (min-width: 500px) {
  .gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .photo {
    width: 50%;
    position: relative;
    overflow: hidden;
  }

  .photo img {
    display: block;
    -webkit-transition: -webkit-transform 500ms ease 0s;
    transition: -webkit-transform 500ms ease 0s;
    -o-transition: -o-transform 500ms ease 0s;
    -moz-transition: transform 500ms ease 0s, -moz-transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
    transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s, -moz-transform 500ms ease 0s, -o-transform 500ms ease 0s;
  }

  .all-title {
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    -webkit-transition: -webkit-transform 500ms ease 0s;
    transition: -webkit-transform 500ms ease 0s;
    -o-transition: -o-transform 500ms ease 0s;
    -moz-transition: transform 500ms ease 0s, -moz-transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
    transition: transform 500ms ease 0s, -webkit-transform 500ms ease 0s, -moz-transform 500ms ease 0s, -o-transform 500ms ease 0s;
  }

  .photo:hover .all-title {
    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
         -o-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }

  .photo:hover img {
    -webkit-transform: scale(1.3);
       -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
         -o-transform: scale(1.3);
            transform: scale(1.3);
  }

  .all-title a {
    color: #ffffff;
  }

  .title-copy {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 1001px) {
  .gallery {
    -webkit-filter: drop-shadow(0 14px 30px #333);
            filter: drop-shadow(0 14px 30px #333);
  }
}
@media screen and (min-width: 991px) {
  .gallery-main-header {
    max-height: 20em;
  }
}
@media screen and (min-width: 1001px) {
  section.gallery {
    padding-left: 1.11em;
  }

  .photo {
    width: 32%;
    margin: 0.2em;
    -webkit-filter: drop-shadow(0px 0px 30px #333);
            filter: drop-shadow(0px 0px 30px #333);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-container {
    max-width: 1170px;
  }
}
/* COLORS */
/* /COLORS */
.blog-main-header {
  padding: 4em 0 0 0;
  height: 11.111em;
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 991px) {
  .blog-main-header {
    max-height: 20em;
  }
}
article.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: auto;
  margin-bottom: 4.5em;
  margin-left: auto;
  margin-right: auto;
}

.box-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-body a {
  margin: 1.5em 0;
  padding: 0.5rem;
  color: #ed1c24;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  border: 2px solid #ed1c24;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.box-body a:hover {
  color: whitesmoke;
  background-color: darkred;
  border-color: darkred;
}

p.text-info {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.box img {
  max-width: 100%;
  height: auto;
}

.main-article {
  margin: 1.5em 0 3.5em 0;
}

.main-article p {
  padding: 1.2rem;
}

section#banner {
  padding-top: 20rem;
}

section .banner {
  padding: 0;
  width: 100%;
}

.banner {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 618px) {
  .padding-top-large {
    padding-top: 6em;
  }

  .banner-gsx1400 {
    margin-top: 2em;
  }
}
@media screen and (max-width: 824px) {
  .blog-main-header.padding-top-large > h1 {
    font-size: 2.3rem;
  }
}
.banner-honda {
  background-image: url(/img-gallery/banner-blog-title-honda-cbx1000-xs.png);
}

@media screen and (min-width: 787px) {
  .banner-honda {
    background-image: url(/img-gallery/banner-blog-title-honda-cbx1000-md.png);
  }
}
@media screen and (min-width: 1199px) {
  .banner-honda {
    background-image: url(/img-gallery/banner-blog-title-honda-cbx1000.png);
  }
}
.banner-gasket {
  background-image: url(/img-gallery/banner-blog-title-Carb-Keihin-xs.png);
}

@media screen and (min-width: 787px) {
  .banner-gasket {
    background-image: url(/img-gallery/banner-blog-title-Carb-Keihin-md.png);
  }
}
@media screen and (min-width: 1199px) {
  .banner-gasket {
    background-image: url(/img-gallery/banner-blog-title-Carb-Keihin.png);
  }
}
.banner-gsx1400 {
  background-image: url(/img-gallery/banner-blog-title-GSX-1400-xs.png);
}

@media screen and (min-width: 787px) {
  .banner-gsx1400 {
    background-image: url(/img-gallery/banner-blog-title-GSX-1400-md.png);
  }
}
@media screen and (min-width: 1199px) {
  .banner-gsx1400 {
    background-image: url(/img-gallery/banner-blog-title-GSX-1400.png);
  }
}
@media screen and (min-width: 787px) {
  article.box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .box-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 50%;
  }

  .box img {
    max-width: 50%;
    height: 100%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }

  .box-body a {
    margin: 1.5em 2.5em 0 0;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}
.blog-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5em 2em;
}
.blog-links a {
  text-decoration: none;
  color: #ed1c24;
  font-weight: bold;
  font-style: italic;
  padding: 0.5rem;
  border: 2px solid #ed1c24;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.blog-links a:hover {
  color: whitesmoke;
  background-color: darkred;
  border-color: darkred;
}

.blog-links.first {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog-links.last {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

h2.price-list {
  font-size: 1em;
  padding: 0.8rem;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px #bcd0f4 solid;
  border-collapse: collapse;
}

th {
  text-align: center;
  font-weight: bold;
  padding: 0.8rem 0;
  font-size: 1.3rem;
}

td {
  padding: 0.5em 1em;
  text-align: left;
  vertical-align: middle;
  -webkit-align-self: left;
      -ms-flex-item-align: left;
          align-self: left;
}

td:nth-child(2) {
  text-align: right;
}

p.table-description {
  padding: 0.6rem 1.1rem;
  font-size: 0.95rem;
  font-style: italic;
  font-weight: unset;
}

th.sub {
  padding: 0.8rem 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: unset;
}

.sub-th {
  font-size: 1.01em;
}

p.table-alert {
  font-size: 0.95rem;
  font-weight: bold;
  color: darkred;
  padding: 1.5em 1.1em;
  font-style: italic;
}

section.tab {
  padding: 1rem 0 1rem 0;
}

@media screen and (min-width: 750px) {
  .tab {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  td {
    padding: 0.5em 1em;
    text-align: left;
    vertical-align: middle;
    -webkit-align-self: left;
        -ms-flex-item-align: left;
            align-self: left;
  }

  td:nth-child(2) {
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .tab {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
section.tab:last-child {
  padding-bottom: 5em;
}/*# sourceMappingURL=main.css.map */