.blog-main-header {
  padding: 4em 0 0 0;
  height: 11.111em;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.blog-main-header h1 {
  font-size: 2.5rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}


article.box {
display: flex;
flex-direction: column;
max-width: 100%;
height: auto;
margin-bottom: 4.5em;
margin-left: auto;
margin-right: auto;

}


.box-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
}

.box-body a {
  margin: 1.5em 0;
  padding: 0.5rem;
  color: $links-color;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  border: 2px solid $links-color;
  border-radius: 6px;
  transition: 0.5s;
  align-self: center;
}

.box-body a:hover {
color: $secondary-color;
background-color: darkred;
border-color: darkred;
}

p.text-info {
  text-overflow: ellipsis;
  overflow: hidden;
}


.box img {
max-width: 100%;
height: auto;
}


.main-article {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.main-article p {
  padding: 0.5rem 1.2rem;
}

section#banner {
  padding-top: 20rem;
  margin-top: 1rem;
}

section .banner {
  padding: 0;
  width: 100%;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (max-width: 618px) {

.banner-gsx1400 {
  margin-top: 2em;
}

}



@media screen and (max-width: 824px) {
.blog-main-header {
  >h1 {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 990px) {
  section.blog {
    padding-top: 0;
  }
}

.blog-main-header {
  height: 9.111em;
}


.banner-honda {
  background-image: url(/img-gallery/banner-blog-title-honda-cbx1000-xs.png);
}

.banner-gsx1400 {
  background-image: url(/img-gallery/banner-blog-title-gsx-1400-xs.png);
}

.banner-gasket {
  background-image: url(/img-gallery/banner-blog-title-carb-keihin-xs.png);
}

.banner-Z1300{
  background-image: url(/img-gallery/banner-blog-title-kawasai-z1300-xs.png)
}

.banner-F4 {
  background-image: url(/img-gallery/banner-blog-title-mv-f4-xs.png);
}



@media screen and (min-width: 787px) {

  .banner-honda {
    background-image: url(/img-gallery/banner-blog-title-honda-cbx1000-md.png);
  }

  .banner-gasket {
  background-image: url(/img-gallery/banner-blog-title-carb-keihin-md.png);
}

.banner-gsx1400 {
  background-image: url(/img-gallery/banner-blog-title-gsx-1400-md.png);
}
.banner-Z1300{
  background-image: url(/img-gallery/banner-blog-title-kawasai-z1300-md.png)
}

.banner-F4 {
  background-image: url(/img-gallery/banner-blog-title-mv-f4-md.png);
}

}

@media screen and (min-width: 1199px) {
  .banner-gasket {
  background-image: url(/img-gallery/banner-blog-title-carb-keihin.png);
}

.banner-honda {
  background-image: url(/img-gallery/banner-blog-title-honda-cbx1000.png);
}


.banner-gsx1400 {
  background-image: url(/img-gallery/banner-blog-title-gsx-1400.png);
}

.banner-Z1300{
  background-image: url(/img-gallery/banner-blog-title-kawasai-z1300.png)
}

.banner-F4 {
  background-image: url(/img-gallery/banner-blog-title-mv-f4.png);
}
}

@media screen and (min-width: 787px) {

article.box {
  flex-direction: row;
}

.box-body {
  flex-direction: column;
  max-width: 50%;
}



.box img {
  max-width: 50%;
  height: 100%;
  align-self: center;
  }
}

.blog-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5em 1em;
a {
  text-decoration: none;
color: $links-color;
font-weight: bold;
font-style: italic;
padding: 0.5rem;
border: 2px solid $links-color;
border-radius: 6px;
transition: 0.5s;
}
a:hover {
  color: $secondary-color;
background-color: darkred;
border-color: darkred;
}
}

.blog h2 {
  padding-top: 0;
  font-size: 1.2rem;
}

@media screen and (max-width: 516px) {

.blog-link {
  order: 3;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.blog-links.first {
  justify-content: flex-end;
}

}


@media screen and (min-width: 992px) {
  .blog-main-header h1 {
    font-size: 2.4rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
  }
.blog h2 {
  font-size: 1.5rem;
  padding-bottom: 4.5rem;
}
section.blog {
  padding-top: 1.5rem;
}
}


@media screen and (max-width: 618px) {

  .blog-main-header h1 {
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
  }

  .padding-top-large {
    padding-top: 6em;
  }
  
  .banner-gsx1400 {
    margin-top: 2em;
  }
}
 


@media (min-width: 992px) {
  .article-gallery {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .article-gallery {
    max-width: 1140px;
  }
}

@media screen and (max-width: 786px) {

  .main-article p {
    padding: 0.5rem 0;
  }

  .blog-links {
    margin: 1.5em 0;
  }

.blog-main-header {
  height: 7rem;
}

.blog-main-header.gsx1400 {
  height: 8rem;
}
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
  .main-article {
    max-width: 75%;
  }
}
