/* COLORS */

$primary-color: #194698;
$secondary-color: whitesmoke;
$text-color: #2c2929;
$links-color: #ed1c24;
$navigation-text: #030e3f;
$selection-color: #03033a;
$title-text: #ffffff;
$title-background: rgba(0, 0, 0, 0.65);
$gallery-shadow:  #000000;
$headline-color: #040431;
$gallery-gradient: linear-gradient(#e3e5e9e8, #ffffff);
$main-gradient: linear-gradient(rgba(255, 255, 255, 0.363), white);


/* /COLORS */

.blog-main-header {
  padding: 4em 0 0 0;
  height: 11.111em;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (min-width: 991px) {
  .blog-main-header {
    max-height: 20em;
  }
}

article.box {
display: flex;
flex-direction: column;
max-width: 100%;
height: auto;
margin-bottom: 4.5em;
margin-left: auto;
margin-right: auto;

}


.box-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
}

.box-body a {
  margin: 1.5em 0;
  padding: 0.5rem;
  color: $links-color;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  border: 2px solid $links-color;
  border-radius: 6px;
  transition: 0.5s;
  align-self: center;
}

.box-body a:hover {
color: $secondary-color;
background-color: darkred;
border-color: darkred;
}

p.text-info {
  text-overflow: ellipsis;
  overflow: hidden;
}


.box img {
max-width: 100%;
height: auto;
}


.main-article {
  margin: 1.5em 0 3.5em 0;
}

.main-article p {
  padding: 1.2rem;
}



section#banner {
  padding-top: 20rem;
}

section .banner {
  padding: 0;
  width: 100%;
 
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
 
}


@media screen and (max-width: 618px) {
.padding-top-large {
  padding-top: 6em;
}

.banner-gsx1400 {
  margin-top: 2em;
}

}

@media screen and (max-width: 824px) {
.blog-main-header.padding-top-large {
  >h1 {

      font-size: 2.3rem;
    }
  }
}



.banner-honda {
  background-image: url(/img-gallery/banner-blog-title-honda-cbx1000-xs.png);
}

.banner-gsx1400 {
  background-image: url(/img-gallery/banner-blog-title-GSX-1400-xs.png);
}

.banner-gasket {
  background-image: url(/img-gallery/banner-blog-title-Carb-Keihin-xs.png);
}

.banner-Z1300{
  background-image: url(/img-gallery/banner-blog-title-Kawasai-Z1300-xs.png)
}

.banner-F4 {
  background-image: url(/img-gallery/banner-blog-title-MV-F4-xs.png);
}



@media screen and (min-width: 787px) {

  .banner-honda {
    background-image: url(/img-gallery/banner-blog-title-honda-cbx1000-md.png);
  }

  .banner-gasket {
  background-image: url(/img-gallery/banner-blog-title-Carb-Keihin-md.png);
}

.banner-gsx1400 {
  background-image: url(/img-gallery/banner-blog-title-GSX-1400-md.png);
}
.banner-Z1300{
  background-image: url(/img-gallery/banner-blog-title-Kawasai-Z1300-md.png)
}

.banner-F4 {
  background-image: url(/img-gallery/banner-blog-title-MV-F4-md.png);
}

}

@media screen and (min-width: 1199px) {
  .banner-gasket {
  background-image: url(/img-gallery/banner-blog-title-Carb-Keihin.png);
}

.banner-honda {
  background-image: url(/img-gallery/banner-blog-title-honda-cbx1000.png);
}


.banner-gsx1400 {
  background-image: url(/img-gallery/banner-blog-title-GSX-1400.png);
}

.banner-Z1300{
  background-image: url(/img-gallery/banner-blog-title-Kawasai-Z1300.png)
}

.banner-F4 {
  background-image: url(/img-gallery/banner-blog-title-MV-F4.png);
}
}





@media screen and (min-width: 787px) {

article.box {
  flex-direction: row;
}

.box-body {
  flex-direction: column;
  max-width: 50%;
}



.box img {
  max-width: 50%;
  height: 100%;
  align-self: center;
  }


  .box-body a {
    margin: 1.5em 2.5em 0 0;
    align-self: flex-end;
  }


}

.blog-links {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 2em;
a {
  text-decoration: none;
color: $links-color;
font-weight: bold;
font-style: italic;
padding: 0.5rem;
border: 2px solid $links-color;
border-radius: 6px;
transition: 0.5s;
}
a:hover {
  color: $secondary-color;
background-color: darkred;
border-color: darkred;
}
}

.blog-links.first {
  justify-content: flex-end;
}

.blog-links.last {
  justify-content: flex-start;
}


