* {
  // outline: 1px solid black;
}

::selection {
  background-color: $selection-color;
  color: $secondary-color;
}

html {
  scroll-behavior: smooth;

}

body {
  color: $text-color;
  font: 1.125em/1.875em 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 5em 0 0 0;
}

section.contact {
  padding-bottom: 1.25em;
}

section.map {
  margin-top: 0;
  padding: 0;
}

section p,
section ol {
  padding: 0.625em 1.25em;
}


.img-responsive {
  width: 100%;
  height: auto;
  margin-top: 1.875em;
}

section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.second {
  order: 2;
}


.mtb-small {
  margin: 1.5em 0;
}

.text-center {
  text-align: center;
}


ol.process li {
  padding: 0.625em 0 0.625em 0.313em;
}


ol.process {
  list-style-type: decimal;
  margin-left: 1.25em;
  display: inline-block;
}


address {
  display: flex;
  flex-direction: column;
  font-style: italic;
}

address a {
  color: $links-color;
}

.address p {
  text-align: center;
}


.others i.ico img {
 max-width: 150px;
}

// .all-cards {
// display: flexbox;
// flex-direction: column;
// justify-content: space-between;
// }

.card {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
}

.card {
  padding: 3rem;
  width: 50%;
  margin: 0;
}
.card-body {

padding: .5rem 1.5rem;
}





@media screen and (min-width: 768px) {

  .firm .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .container p {
    display: inline-block;
  }

  

  .img-responsive {
    vertical-align: middle;
  }

  .img-responsive.first {
    max-width: 40%;
    height: auto;
    margin: 1.875em 1.25em 0 0.625em;
  }

  ol.process {
    order: 1;
  }

  .img-responsive.second {
    max-width: 80%;
    order: 2;
    margin: 1.875em 1.25em 0 1.25em;
  }


}

@media screen and (min-width: 1000px) {

  .container.address {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  
  .address p {
    text-align: left;
  }

  

  section .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .img-responsive.second {
    max-width: 40%;
    order: 1;
    margin: 0 1.25em 0 1.25em;
  }


  ol.process {
    order: 2;
  }

  .container.address {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

}


@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1170px;
  }

  section.firm p {
    max-width: 50%;
  }

  ol.process {
    max-width: 45%;
  }
}