* {
  // outline: 1px solid black;
}

::selection {
  background-color: rgb(3, 3, 58);
  color: whitesmoke;
}

html {
  scroll-behavior: smooth;

}

body {
  color: rgb(44, 41, 41);
  font: 1.125em/1.875em 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 5em 0 0 0;
}

section.contact {
  padding-bottom: 1.25em;
}

section.map {
  margin-top: 0;
  padding: 0;
}

section p,
section ol {
  padding: 0.625em 1.25em;
}


.img-responsive {
  width: 100%;
  height: auto;
  margin-top: 1.875em;
}

section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.second {
  order: 2;
}


.mtb-small {
  margin: 1.5em 0;
}


ol.process li {
  padding: 0.625em 0 0.625em 0.313em;
}


ol.process {
  list-style-type: decimal;
  margin-left: 1.25em;
  display: inline-block;
}

.address {
  text-align: center;
}

address {
  display: flex;
  flex-direction: column;
  font-style: italic;

}

address a {
  color: rgb(146, 11, 15);
}



@media screen and (min-width: 768px) {

  section .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .container p {
    display: inline-block;
  }


  .container.address {
    justify-content: space-around;
  }

  .img-responsive {
    max-width: 40%;
    height: auto;

  }

  .img-responsive.first {
    margin: 1.875em 1.25em 0 0.625em;
  }

  .second {
    order: 1;
    margin: 1.875em 1.25em 0 1.25em;
  }

  ol.process {
    order: 2;
  }
}


@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1170px;
  }

  section.firm p {
    max-width: 50%;
  }

  ol.process {
    max-width: 45%;
  }
}