footer {
  background-color: rgb(6, 25, 102);
  color: whitesmoke;
  margin: 0;
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 1.11em 2.21em;
}

@media screen and (min-width: 991px) {
footer {
  text-align: end;
  font-size: 0.88em;
}
}

