.header {
  background: url(/img/header-photo.jpg) top no-repeat;
  background-size: cover;
  width: 100%;
}

.main-header {
  padding: 40px 0 0 0;
  height: 400px;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


@media screen and (min-width: 991px) {
  .main-header {
    height: 500px
  }
}


@media screen and (min-width: 1200px) {
  .main-header {
    height: 700px
  }
}


@media screen and (min-width: 1380px) {
  .main-header {
    height: 900px;
  }
}