nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1000;

}

nav ul {
  line-height: 60px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 20px;
  transition: 1s;
}

nav.blue ul {
  background: rgba(6, 25, 102, 0.9);
}

nav.blue li a {

  color: whitesmoke;
}


nav ul li {
  display: inline-block;
  padding: 24px 16px;
  ;

}

nav ul li a {
  text-decoration: none;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: rgb(6, 25, 102);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: whitesmoke;
  display: none;


}

.logo {
  position: fixed;
  float: left;
  z-index: 1000;
}

.logo a {
  background: url(/img/logo.png) top left no-repeat;
  background-size: contain;
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  margin: 9px;
  transition: 0.5s;
}

.logo a:hover {
  width: 120px;
  height: 70px;
}



@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
  }

  nav ul {
    max-height: 0px;
    background: rgba(6, 25, 102, 0.9);
  }

  nav ul li a {
    color: whitesmoke;
    padding: 20px 40px;
  }

  nav.blue ul {
    background: rgba(6, 25, 102, 0.9);
  }

  .showing {
    max-height: 34em;
  
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    text-align: center;
  
  }

  nav ul li:last-child {
    padding-bottom: 5px;
  }

  nav ul li:first-child {
    padding-top: 5px;
  }

  .menu-icon {
    display: block;
  }

}


@media screen and (min-width: 991px) {
  .logo a {
    width: 180px;
    height: 80px;
  }

  .logo a:hover {
    width: 200px;
    height: 100px;
  }
}