
nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1000;
  scroll-behavior: smooth;
}

nav ul {
  line-height: 60px;
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 20px;
  transition: 1s;
}

nav.blue ul {
  background: rgba(6, 25, 102, 0.9);
}

nav.blue li a {
    
  color: whitesmoke;
}

nav ul li {
  display: inline-block;
  padding: 24px 16px;;

}

nav ul li a {
  text-decoration: none;
  color: rgb(6, 25, 102);
  font-size: 16px;
  font-weight: bold;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: rgb(6, 25, 102);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: whitesmoke;
  display: none;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background:  rgba(6, 25, 102, 0.9);
        color: whitesmoke;
  }

  nav.blue ul {
        background: rgba(6, 25, 102, 0.9);
       
  }



  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 20px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}

