$primary-color: #194698;
$secondary-color: whitesmoke;
$text-color: #2c2929;
$links-color: rgb(177, 7, 7);
//$links-color: #ed1c24;
$navigation-text: #030e3f;
$selection-color: #03033a;
$title-text: #ffffff;
$title-background: rgba(0, 0, 0, 0.65);
$gallery-shadow:  #000000;
$headline-color: #040431;
$gallery-gradient: linear-gradient(#e3e5e9e8, #ffffff);
$main-gradient: linear-gradient(rgba(255, 255, 255, 0.363), white);

nav {
  position: fixed;
  width: 100%;
  line-height: 3.75em;
  z-index: 1000;

}

nav, nav ul {
  line-height: 3.75em;
  list-style: none;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 1.25em;
  transition: all .5s ease;
}

nav.blue  {
  background: rgba($primary-color, 0.9);
}

nav.blue li a, nav.blue p, nav.blue p a, nav.blue .m-head-contact  {
  color: $secondary-color;
  border-color: $secondary-color;
}


nav ul li {
  display: inline-block;
  padding: .5em 1em 0 0;
  transition: all 1s ease;

}

nav ul li a {
  text-decoration: none;
}

nav p a, nav p {
  color: $navigation-text;
  text-align: end;
  transition: 0.5s;
}

nav p a:hover {
  color: $links-color;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: $primary-color;
  text-align: right;
  box-sizing: border-box;
  padding: 0.9375em 1.5em;
  cursor: pointer;
  color: $secondary-color;
  display: none;
  transition: all .5s ease;
}

#menu {
  vertical-align: middle;
}

#menu {
  transition: all 1s ease;
}

.rotate {
transform: rotate(180deg);
}

.logo {
  position: fixed;
  float: left;
  z-index: 1000;
}

.logo a {
  background: url(./../../../img/logo-1.png) top left no-repeat;
  background-size: contain;
  display: block;
  text-indent: 99999px;
  width: 6.25em;
  height: 3.125em;
  margin: 0.5625em;
}


nav p {
  max-height: 2rem;
}

.m-head-contact {
  margin-right: 2rem;
}

.m-head-contact:last-child {
  border-left: $navigation-text 1px solid;
  padding-left: 1.25rem;
}

@media screen and (min-width: 1200px){
  .m-head-contact:last-child {
    margin-right: 60%;
  }
}

@media screen and (max-width: 330px) {
.m-head-contact {
display: none;
}
}


@media screen and (min-width: 331px) {
  .m-head-contact.first {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  }
  }



@media screen and (max-width: 909px) {
  nav ul, nav p {
    background: rgba($primary-color, 0.9);
  }
  nav ul li a, nav p, nav p a {
    color: $secondary-color;
  }
  .m-head-contact:last-child {
    border-left-color: $secondary-color;
  }

}

@media screen and (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
  }

  nav ul, nav p {
    max-height: 0px;
    background: rgba($primary-color, 0.9);
  }

  nav ul li a {
    color: $secondary-color;
    padding: 1.25em 2.5em;
  }

  nav.blue ul, nav.blue p {
    background: rgba($primary-color, 0.9);
  }


  .show {
    max-height: 36rem;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    text-align: center;

  }

  nav ul li:last-child {
    padding-bottom: 0.3125em;
  }

  nav ul li:first-child {
    padding-top: 0.3125em;
  }

  .menu-icon {
    display: block;
  }


  .menu-title {
    padding-right: 0.625em;
  }
}



@media screen and (min-width: 768px) and (max-width: 860px) {
  nav ul li {
    padding: .25em .5em;
  }
}


@media screen and (min-width: 991px) {
  .logo a {
    width: 10em;
    height: 3.75em;
  }

  // .logo a:hover {
  //   width: 10.25em;
  //   height: 4em;
  // }
}